<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Crypto Arbitrage</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script type="text/javascript">
       var socket = io.connect(null, {
        port: 5000,
        rememberTransport: false,
        transports: ['websocket'],
      });
      
        socket.on('connect', function() {
            console.log('Connected to WebSocket');
        });

        function setThreshold() {
            var threshold = parseFloat(document.getElementById('threshold').value);
            // socket.emit('set_threshold', { threshold: threshold });
            console.log(threshold)
            socket.emit('set_threshold', threshold)
        }

        socket.on('arbitrage_opportunity', function(data) {
            console.log('Arbitrage Opportunity:', data);
            // Display arbitrage opportunity information to the user
        });
    </script>
</head>
<body>
    <h1>Crypto Arbitrage</h1>
    <label for="threshold">Threshold:</label>
    <input type="number" id="threshold" step="0.01" value="0.5">
    <button onclick="setThreshold()">Set Threshold</button>
</body>
</html>
